.textfield-border .MuiOutlinedInput-notchedOutline {
    border-color: black;
  }

  .personaldetails_radio{
    border: 2px solid #8E959F;
    padding: 10px;
    color : #052F5F;
    font-family: Noto Sans;
    font-weight: 600;
    font-size: 15;
    border-radius: 8px;
    display: block;
    margin-top: 15px;
  }

  .personaldetails_radio_input{
      display: none;
  }

  .clicked{
    background-color: #32547C;
    color : #FFFFFF;
    border: none;

  }

  .email-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    flex-wrap: wrap;
    width: 80%;
  }

  .email-btns div{
    height: fit-content;
    width: fit-content;
  }

@media (max-width: 466px) {
  .email-btns {
    justify-content: flex-start;
  }
  .email-btns div{
    margin: 0 15px 0 0;
  }
}