.blocks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocks-container .confirm-block {
    margin: 24px;
    background: #FFFFFF;
    border: 1px solid #8E959F;
    border-radius: 12px;
    padding: 4px 16px 16px 16px;
    width: 358px;
    position: relative;
}

.blocks-container .confirm-block .edit-btn-container {
    color: #03A87D;
    position: absolute;
    top: 20px;
    right: 20px;
}

.blocks-container .confirm-block .edit-btn-container svg {
    font-size: 13px;
}

.blocks-container .confirm-block .edit-btn-container button {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.015em;
    color: #03A87D;
    border: none;
    background-color: transparent;
    height: 19px;
    cursor: pointer;
}


.blocks-container .confirm-block h2 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: #052F5F;
}

.blocks-container .confirm-block h3 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #8E959F;
    margin-bottom: 0px !important;
}

.blocks-container .confirm-block p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: #052F5F;
    margin-top: 0px !important;
}

.blocks-container .confirm-block .empty-div {
    height: 62px;
}

.blocks-container .confirm-block .block-footer {
    position: absolute;
    background-color: #F0F3F5;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.blocks-container .confirm-block .block-footer p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #052F5F;
    text-align: center;
}

.blocks-container .confirm-block .block-footer p span {
    font-weight: 900;
}

.blocks-container .confirm-block .row-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
}

.blocks-container .confirm-block .row-container .col-container{
    width: 30%;
}

.blocks-container .confirm-block .row-container .col-container .pancard_upload {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks-container .confirm-block .row-container .col-container h1 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(5, 47, 95, 0.6);
}

.image{
    width: 100%;
    height: 100%;
    display : block
}

.terms-condition{
    width: 400px;
    
}

.terms-condition .container{
    display: flex !important; 
    flex-direction: row;
    align-items: center;
}

/* Customize the label (the container) */
.terms-condition .container {
    display: block;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    user-select: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: rgba(5, 47, 95, 0.6);
    margin-bottom: 10px;
    height: fit-content;
  }
  
  .terms-condition .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .terms-condition .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #03B38D ;
  }
  
  /* On mouse-over, add a grey background color */
  .terms-condition .container:hover input ~ .checkmark {
    background-color: #ccc;
    border-radius: 3px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .terms-condition .container input:checked ~ .checkmark {
    background-color: #03B38D;
    border-radius: 3px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .terms-condition .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .terms-condition .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .terms-condition .container .checkmark:after {
    left: 6px;
    top: 5px;
    width: 5px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

@media (max-width: 466px) {
    .blocks-container .confirm-block {
        width: 300px;
    }
    .terms-condition{
        width: 300px;
    }
}